<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/bootstrap.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <script src="../js/bootstrap.bundle.js"></script>
    <title>Badge</title>
  </head>
  <body>
    <section class="container py-5 px-3 border-bottom border-primary">
      <h1>Badge</h1>
      <p class="bd-lead">
        Documentation and examples for badges, our small count and labeling
        component.
      </p>
    </section>

    <section class="container py-5 px-5">
      <h2>Examples</h2>
      <p>
        Badges scale to match the size of the immediate parent element by using
        relative font sizing and em units. As of v5, badges no longer have focus
        or hover styles for links.
      </p>

      <section class="container py-3">
        <h3 class="border-bottom border-secondary py-2">Headings</h3>
        <section class="py-4">
          <h1>Example heading <span class="badge bg-secondary">New</span></h1>
          <h2>Example heading <span class="badge bg-secondary">New</span></h2>
          <h3>Example heading <span class="badge bg-secondary">New</span></h3>
          <h4>Example heading <span class="badge bg-secondary">New</span></h4>
          <h5>Example heading <span class="badge bg-secondary">New</span></h5>
          <h6>Example heading <span class="badge bg-secondary">New</span></h6>
        </section>
      </section>

      <section class="container py-3">
        <h3 class="border-bottom border-secondary py-2">Buttons</h3>
        <section class="py-4">
          <button type="button" class="btn btn-primary">
            Notifications <span class="badge text-bg-secondary">4</span>
          </button>
        </section>
      </section>

      <section class="container py-3">
        <h3 class="border-bottom border-secondary py-2">Positioned</h3>
        <section class="py-4">
          <button type="button" class="btn btn-primary position-relative">
            Inbox
            <span
              class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
            >
              99+
              <span class="visually-hidden">unread messages</span>
            </span>
          </button>
        </section>
      </section>

      <section class="container py-3">
        <h3 class="border-bottom border-secondary py-2">Background colors</h3>
        <section class="py-4">
          <span class="badge text-bg-primary">Primary</span>
          <span class="badge text-bg-secondary">Secondary</span>
          <span class="badge text-bg-success">Success</span>
          <span class="badge text-bg-danger">Danger</span>
          <span class="badge text-bg-warning">Warning</span>
          <span class="badge text-bg-info">Info</span>
          <span class="badge text-bg-light">Light</span>
          <span class="badge text-bg-dark">Dark</span>
        </section>
      </section>

      <section class="container py-3">
        <h3 class="border-bottom border-secondary py-2">Pill badges</h3>
        <section class="py-4">
          <span class="badge rounded-pill text-bg-primary">Primary</span>
          <span class="badge rounded-pill text-bg-secondary">Secondary</span>
          <span class="badge rounded-pill text-bg-success">Success</span>
          <span class="badge rounded-pill text-bg-danger">Danger</span>
          <span class="badge rounded-pill text-bg-warning">Warning</span>
          <span class="badge rounded-pill text-bg-info">Info</span>
          <span class="badge rounded-pill text-bg-light">Light</span>
          <span class="badge rounded-pill text-bg-dark">Dark</span>
        </section>
      </section>
    </section>
  </body>
</html>
