<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/bootstrap.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <script src="../js/bootstrap.bundle.js"></script>
    <title>Badge</title>
  </head>
  <body>
    <section class="container py-5 px-3 border-bottom border-primary">
      <h1>Breadcrumb</h1>
      <p class="bd-lead">
        Indicate the current page’s location within a navigational hierarchy
        that automatically adds separators via CSS.
      </p>
    </section>

    <section class="container py-5 px-5">
      <h2>Example</h2>
      <section class="bd-example">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Home</li>
          </ol>
        </nav>

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Library</li>
          </ol>
        </nav>

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Library</a></li>
            <li class="breadcrumb-item active" aria-current="page">Data</li>
          </ol>
        </nav>
      </section>
    </section>
  </body>
</html>
