<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/bootstrap.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <script src="../js/bootstrap.bundle.js"></script>
    <title>Buttons</title>
  </head>
  <body>
    <section class="container py-5 px-3 border-bottom border-primary">
      <h1>Buttons</h1>
      <p class="bd-lead">
        Use Bootstrap’s custom button styles for actions in forms, dialogs, and
        more with support for multiple sizes, states, and more.
      </p>
    </section>
    <section class="container py-5 px-5">
      <h2>Examples</h2>
      <p class="border-bottom border-secondary py-2">
        Bootstrap includes several button variants, each serving its own
        semantic purpose, with a few extras thrown in for more control.
      </p>
      <section class="py-2">
        <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-secondary">Secondary</button>
        <button type="button" class="btn btn-success">Success</button>
        <button type="button" class="btn btn-danger">Danger</button>
        <button type="button" class="btn btn-warning">Warning</button>
        <button type="button" class="btn btn-info">Info</button>
        <button type="button" class="btn btn-light">Light</button>
        <button type="button" class="btn btn-dark">Dark</button>
        <button type="button" class="btn btn-link">Link</button>
      </section>

      <section class="py-2">
        <button type="button" class="btn btn-outline-primary">Primary</button>
        <button type="button" class="btn btn-outline-secondary">
          Secondary
        </button>
        <button type="button" class="btn btn-outline-success">Success</button>
        <button type="button" class="btn btn-outline-danger">Danger</button>
        <button type="button" class="btn btn-outline-warning">Warning</button>
        <button type="button" class="btn btn-outline-info">Info</button>
        <button type="button" class="btn btn-outline-light">Light</button>
        <button type="button" class="btn btn-outline-dark">Dark</button>
      </section>
    </section>

    <section class="container py-5 px-5">
      <h2>Button group</h2>
      <p class="border-bottom border-secondary py-2">
        Group a series of buttons together on a single line with the button
        group, and super-power them with JavaScript.
      </p>
      <section class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary">Left</button>
        <button type="button" class="btn btn-secondary">Middle</button>
        <button type="button" class="btn btn-secondary">Right</button>
      </section>
    </section>

    <section class="container py-5 px-5">
      <h2>Close button</h2>
      <p class="border-bottom border-secondary py-2">
        A generic close button for dismissing content like modals and alerts.
      </p>
      <button type="button" class="btn-close" aria-label="Close"></button>
    </section>
  </body>
</html>
