<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/bootstrap.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <script src="../js/bootstrap.bundle.js"></script>
    <title>Dropdowns</title>
  </head>
  <body>
    <section class="container py-5 px-3 border-bottom border-primary">
      <h1>Dropdowns</h1>
      <p>
        Toggle contextual overlays for displaying lists of links and more with
        the Bootstrap dropdown plugin.
      </p>
    </section>

    <section class="container py-5 px-5">
      <h2>Examples</h2>
      <p class="border-bottom border-secondary py-2">
        Wrap the dropdown’s toggle (your button or link) and the dropdown menu
        within <code>.dropdown</code>, or another element that declares
        <code>position: relative;</code>. Ideally, you should use a
        <code>&lt;button&gt;</code> element as the dropdown trigger, but the
        plugin will work with <code>&lt;a&gt;</code> elements as well. The
        examples shown here use semantic <code>&lt;ul&gt;</code> elements where
        appropriate, but custom markup is supported.
      </p>
      <section class="dropdown py-2">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Dropdown button
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </section>
      <section class="py-2">
        <section class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Primary</button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            <li><hr class="dropdown-sectionider"></li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>
          </ul>
        </section>
        <section class="btn-group">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Secondary</button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            <li><hr class="dropdown-sectionider"></li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>
          </ul>
        </section>
        <section class="btn-group">
          <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Success</button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            <li><hr class="dropdown-sectionider"></li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>
          </ul>
        </section>
        <section class="btn-group">
          <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Info</button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            <li><hr class="dropdown-sectionider"></li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>
          </ul>
        </section>
        <section class="btn-group">
          <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Warning</button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            <li><hr class="dropdown-sectionider"></li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>
          </ul>
        </section>
        <section class="btn-group">
          <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Danger</button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            <li><hr class="dropdown-sectionider"></li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>
          </ul>
        </section>
      </section>
    </section>
  </body>
</html>
