<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/bootstrap.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <script src="../js/bootstrap.bundle.js"></script>

    <title>Bootstrap Components</title>
  </head>
  <body>
    <section class="px-4 py-5 my-5 text-center">
      <h1 class="display-5 fw-bold text-body-emphasis">Leonardo Aguilera</h1>
      <section class="col-lg-6 mx-auto align-middle">
        <p class="lead mb-4">
          Hello my name is Leonardo, I am a Web Developer. The purpose of this
          page is to showcase the components made available by the Bootstrap
          library.
        </p>
      </section>
    </section>

    <section class="container px-4 py-5">
      <h2 class="pb-2 border-bottom border-primary">Components</h2>
      <section class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <section class="col d-flex align-items-start rounded-4 hover-effect">
          <section>
            <h3 class="fs-2">Accordions</h3>
            <p>
              Build vertically collapsing accordions in combination with the
              Collapse JavaScript plugin.
            </p>
            <a href="../views/accordion.html" class="btn btn-primary"
              >See the Component</a
            >
          </section>
        </section>
        <section class="col d-flex align-items-start rounded-4 hover-effect">
          <section>
            <h3 class="fs-2">Alerts</h3>
            <p>
              Provide contextual feedback messages for typical user actions with
              the handful of available and flexible alert messages.
            </p>
            <a href="../views/alerts.html" class="btn btn-primary"
              >See the Component</a
            >
          </section>
        </section>
        <section class="col d-flex align-items-start rounded-4 hover-effect">
          <section>
            <h3 class="fs-2">Badge</h3>
            <p>
              Documentation and examples for badges, the small count and
              labeling component.
            </p>
            <a href="../views/badge.html" class="btn btn-primary"
              >See the Component</a
            >
          </section>
        </section>
      </section>

      <section class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <section class="col d-flex align-items-start rounded-4 hover-effect">
          <section>
            <h3 class="fs-2">Spinners</h3>
            <p>
              Indicate the loading state of a component or page with Bootstrap
              spinners, built entirely with HTML, CSS, and no JavaScript.
            </p>
            <a href="../views/spinners.html" class="btn btn-primary"
              >See the Component</a
            >
          </section>
        </section>
        <section class="col d-flex align-items-start rounded-4 hover-effect">
          <section>
            <h3 class="fs-2">Breadcrumb</h3>
            <p>
              Indicate the current page’s location within a navigational
              hierarchy that automatically adds separators via CSS.
            </p>
            <a href="../views/breadcrumb.html" class="btn btn-primary"
              >See the Component</a
            >
          </section>
        </section>
        <section class="col d-flex align-items-start rounded-4 hover-effect">
          <section>
            <h3 class="fs-2">Buttons</h3>
            <p>
              Use Bootstrap’s custom button styles for actions in forms,
              dialogs, and more with support for multiple sizes, states, and
              more.
            </p>
            <a href="../views/buttons.html" class="btn btn-primary"
              >See the Component</a
            >
          </section>
        </section>
      </section>

      <section class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <section class="col d-flex align-items-start rounded-4 hover-effect">
          <section>
            <h3 class="fs-2">Card</h3>
            <p>
              Bootstrap’s cards provide a flexible and extensible content
              container with multiple variants and options.
            </p>
            <a href="../views/card.html" class="btn btn-primary"
              >See the Component</a
            >
          </section>
        </section>
        <section class="col d-flex align-items-start rounded-4 hover-effect">
          <section>
            <h3 class="fs-2">Carousel</h3>
            <p>
              A slideshow component for cycling through elements—images or
              slides of text—like a carousel.
            </p>
            <a href="../views/carousel.html" class="btn btn-primary"
              >See the Component</a
            >
          </section>
        </section>
        <section class="col d-flex align-items-start rounded-4 hover-effect">
          <section>
            <h3 class="fs-2">Collapse</h3>
            <p>
              Toggle the visibility of content across your project with a few
              classes and the JavaScript plugins.
            </p>
            <a href="../views/collapse.html" class="btn btn-primary"
              >See the Component</a
            >
          </section>
        </section>
      </section>

      <section class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <section class="col d-flex align-items-start rounded-4 hover-effect">
          <section>
            <h3 class="fs-2">Dropdowns</h3>
            <p>
              Toggle contextual overlays for displaying lists of links and more
              with the Bootstrap dropdown plugin.
            </p>
            <a href="../views/dropdowns.html" class="btn btn-primary"
              >See the Component</a
            >
          </section>
        </section>
        <section class="col d-flex align-items-start rounded-4 hover-effect">
          <section>
            <h3 class="fs-2">List group</h3>
            <p>
              List groups are a flexible and powerful component for displaying a
              series of content. Modify and extend them to support just about
              any content within.
            </p>
            <a href="../views/list-group.html" class="btn btn-primary"
              >See the Component</a
            >
          </section>
        </section>
        <section class="col d-flex align-items-start rounded-4 hover-effect">
          <section>
            <h3 class="fs-2">Modal</h3>
            <p>
              Use Bootstrap’s JavaScript modal plugin to add dialogs to your
              site for lightboxes, user notifications, or completely custom
              content.
            </p>
            <a href="../views/modal.html" class="btn btn-primary"
              >See the Component</a
            >
          </section>
        </section>
      </section>

      <section class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <section class="col d-flex align-items-start rounded-4 hover-effect">
          <section>
            <h3 class="fs-2">Navs and tabs</h3>
            <p>Examples of Bootstrap’s included navigation components.</p>
            <a href="../views/navs-tabs.html" class="btn btn-primary"
              >See the Component</a
            >
          </section>
        </section>
        <section class="col d-flex align-items-start rounded-4 hover-effect">
          <section>
            <h3 class="fs-2">Navbar</h3>
            <p>
              Examples of Bootstrap’s powerful, responsive navigation header,
              the navbar. Includes support for branding, navigation, and more,
              including support for the collapse plugin.
            </p>
            <a href="../views/navbar.html" class="btn btn-primary"
              >See the Component</a
            >
          </section>
        </section>
        <section class="col d-flex align-items-start rounded-4 hover-effect">
          <section>
            <h3 class="fs-2">Offcanvas</h3>
            <p>
              Build hidden sidebars into your project for navigation, shopping
              carts, and more with a few classes and the JavaScript plugin.
            </p>
            <a href="../views/offcanvas.html" class="btn btn-primary"
              >See the Component</a
            >
          </section>
        </section>
      </section>

      <section class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <section class="col d-flex align-items-start rounded-4 hover-effect">
          <section>
            <h3 class="fs-2">Placeholders</h3>
            <p>
              Use loading placeholders for your components or pages to indicate
              something may still be loading.
            </p>
            <a href="../views/placeholders.html" class="btn btn-primary"
              >See the Component</a
            >
          </section>
        </section>
        <section class="col d-flex align-items-start rounded-4 hover-effect">
          <section>
            <h3 class="fs-2">Progress</h3>
            <p>
              Examples for using Bootstrap custom progress bars featuring
              support for stacked bars, animated backgrounds, and text labels.
            </p>
            <a href="../views/progress.html" class="btn btn-primary"
              >See the Component</a
            >
          </section>
        </section>
        <section class="col d-flex align-items-start rounded-4 hover-effect">
          <section>
            <h3 class="fs-2">Scrollspy</h3>
            <p>
              Automatically update Bootstrap navigation or list group components
              based on scroll position to indicate which link is currently
              active in the viewport.
            </p>
            <a href="../views/scrollspy.html" class="btn btn-primary"
              >See the Component</a
            >
          </section>
        </section>
      </section>

      <section class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <section class="col d-flex align-items-start rounded-4 hover-effect">
          <section>
            <h3 class="fs-2">Toasts</h3>
            <p>
              Push notifications to your visitors with a toast, a lightweight
              and easily customizable alert message.
            </p>
            <a href="../views/toasts.html" class="btn btn-primary"
              >See the Component</a
            >
          </section>
        </section>
        <section class="col d-flex align-items-start rounded-4 hover-effect">
          <section>
            <h3 class="fs-2">Tooltips</h3>
            <p>
              Examples for adding custom Bootstrap tooltips with CSS and
              JavaScript using CSS3 for animations and data-bs-attributes for
              local title storage.
            </p>
            <a href="../views/tooltips.html" class="btn btn-primary"
              >See the Component</a
            >
          </section>
        </section>
        <section class="col d-flex align-items-start rounded-4 hover-effect">
          <section>
            <h3 class="fs-2">Tables</h3>
            <p>
              Examples for opt-in styling of tables (given their prevalent use
              in JavaScript plugins) with Bootstrap.
            </p>
            <a href="../views/tables.html" class="btn btn-primary"
              >See the Component</a
            >
          </section>
        </section>
      </section>

      <section class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <section class="col d-flex align-items-start rounded-4 hover-effect">
          <section>
            <h3 class="fs-2">Forms</h3>
            <p>
              Examples and usage guidelines for form control styles, layout
              options, and custom components for creating a wide variety of
              forms.
            </p>
            <a href="../views/forms.html" class="btn btn-primary"
              >See the Component</a
            >
          </section>
        </section>
      </section>
    </section>
  </body>
</html>
