<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/bootstrap.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <script src="../js/bootstrap.bundle.js"></script>
    <title>List group</title>
  </head>
  <body>
    <section class="container py-5 px-3 border-bottom border-primary">
      <h1>List group</h1>
      <p>
        List groups are a flexible and powerful component for displaying a
        series of content. Modify and extend them to support just about any
        content within.
      </p>
    </section>

    <section class="container py-5 px-5">
      <h2>Examples</h2>
      <p class="border-bottom border-secondary py-2"></p>
    </section>

    <section class="list-group border-bottom border-secondary py-4">
      <a
        href="#"
        class="list-group-item list-group-item-action active"
        aria-current="true"
      >
        The current link item
      </a>
      <a href="#" class="list-group-item list-group-item-action"
        >A second link item</a
      >
      <a href="#" class="list-group-item list-group-item-action"
        >A third link item</a
      >
      <a href="#" class="list-group-item list-group-item-action"
        >A fourth link item</a
      >
      <a class="list-group-item list-group-item-action disabled"
        >A disabled link item</a
      >
    </section>

    <ul class="list-group py-4">
      <li class="list-group-item">A simple default list group item</li>

      <li class="list-group-item list-group-item-primary">
        A simple primary list group item
      </li>
      <li class="list-group-item list-group-item-secondary">
        A simple secondary list group item
      </li>
      <li class="list-group-item list-group-item-success">
        A simple success list group item
      </li>
      <li class="list-group-item list-group-item-danger">
        A simple danger list group item
      </li>
      <li class="list-group-item list-group-item-warning">
        A simple warning list group item
      </li>
      <li class="list-group-item list-group-item-info">
        A simple info list group item
      </li>
      <li class="list-group-item list-group-item-light">
        A simple light list group item
      </li>
      <li class="list-group-item list-group-item-dark">
        A simple dark list group item
      </li>
    </ul>
  </body>
</html>
