<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/bootstrap.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <script src="../js/bootstrap.bundle.js"></script>
    <title>Navs and tabs</title>
  </head>
  <body>
    <section class="container py-5 px-3 border-bottom border-primary">
      <h1>Navs and tabs</h1>
      <p>Examples of Bootstrap’s included navigation components.</p>
    </section>

    <section class="container py-5 px-5">
      <h2>Examples</h2>
      <p>
        Navigation available in Bootstrap share general markup and styles, from
        the base <code>.nav</code> class to the active and disabled states. Swap
        modifier classes to switch between each style.
      </p>
      <p class="border-bottom border-secondary py-2">
        The base <code>.nav</code> component is built with flexbox and provide a
        strong foundation for building all types of navigation components. It
        includes some style overrides (for working with lists), some link
        padding for larger hit areas, and basic disabled styling.
      </p>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
    </section>

    <section class="container px-5">
      <h2 class="border-bottom border-secondary py-2">Tabs</h2>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
    </section>
  </body>
</html>
