<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/bootstrap.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <script src="../js/bootstrap.bundle.js"></script>
    <title>Spinners</title>
  </head>
  <body>
    <section class="container py-5 px-3 border-bottom border-primary">
      <h1>Spinners</h1>
      <p class="bd-lead">
        Indicate the loading state of a component or page with Bootstrap
        spinners, built entirely with HTML, CSS, and no JavaScript.
      </p>
    </section>

    <section class="container py-5 px-5">
      <h2>About</h2>
      <p>
        Bootstrap “spinners” can be used to show the loading state in your
        projects. They’re built only with HTML and CSS, meaning you don’t need
        any JavaScript to create them. You will, however, need some custom
        JavaScript to toggle their visibility. Their appearance, alignment, and
        sizing can be easily customized with our amazing utility classes.
      </p>

      <section class="container py-3">
        <h3 class="border-bottom border-secondary py-2">Border spinner</h3>
        <section class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </section>
      </section>

      <section class="container py-3">
        <h3 class="border-bottom border-secondary py-2">Colors</h3>
        <section class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </section>
        <section class="spinner-border text-secondary" role="status">
          <span class="visually-hidden">Loading...</span>
        </section>
        <section class="spinner-border text-success" role="status">
          <span class="visually-hidden">Loading...</span>
        </section>
        <section class="spinner-border text-danger" role="status">
          <span class="visually-hidden">Loading...</span>
        </section>
        <section class="spinner-border text-warning" role="status">
          <span class="visually-hidden">Loading...</span>
        </section>
        <section class="spinner-border text-info" role="status">
          <span class="visually-hidden">Loading...</span>
        </section>
        <section class="spinner-border text-light" role="status">
          <span class="visually-hidden">Loading...</span>
        </section>
        <section class="spinner-border text-dark" role="status">
          <span class="visually-hidden">Loading...</span>
        </section>
      </section>

      <section class="container py-3">
        <h3 class="border-bottom border-secondary py-2">Growing spinner</h3>
        <section class="spinner-grow" role="status">
          <span class="visually-hidden">Loading...</span>
        </section>
      </section>
    </section>
  </body>
</html>
