<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/bootstrap.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <script src="../js/bootstrap.bundle.js"></script>
    <title>Toasts</title>
  </head>
  <body>
    <section class="container py-5 px-3 border-bottom border-primary">
      <h1>Toasts</h1>
      <p class="bd-lead">
        Push notifications to your visitors with a toast, a lightweight and
        easily customizable alert message.
      </p>
    </section>

    <section class="container py-5 px-5">
      <h2 class="border-bottom border-secondary py-2">Example</h2>
      <section class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true">
        <section class="toast-header">
          <svg class="bd-placeholder-img rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#007aff"></rect></svg>
          <strong class="me-auto">Bootstrap</strong>
          <small>11 mins ago</small>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </section>
        <section class="toast-body">
          Hello, world! This is a toast message.
        </section>
      </section>
    </section>
    
  </body>
</html>
