<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/bootstrap.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <script src="../js/main.js" defer></script>
    <script src="../js/bootstrap.bundle.js"></script>
    <title>Tooltips</title>
  </head>
  <body>
    <section class="container py-5 px-3 border-bottom border-primary">
      <h1>Tooltips</h1>
      <p class="bd-lead">
        Examples for adding custom Bootstrap tooltips with CSS and JavaScript
        using CSS3 for animations and data-bs-attributes for local title
        storage.
      </p>
    </section>

    <section class="container py-5 px-5">
      <h2 class="border-bottom border-secondary py-2">Examples</h2>
      <p class="muted">
        Placeholder text to demonstrate some
        <a href="#" data-bs-toggle="tooltip" data-bs-title="Default tooltip"
          >inline links</a
        >
        with tooltips. This is now just filler, no killer. Content placed here
        just to mimic the presence of
        <a href="#" data-bs-toggle="tooltip" data-bs-title="Another tooltip"
          >real text</a
        >. And all that just to give you an idea of how tooltips would look when
        used in real-world situations. So hopefully you've now seen how
        <a
          href="#"
          data-bs-toggle="tooltip"
          data-bs-title="Another one here too"
          >these tooltips on links</a
        >
        can work in practice, once you use them on
        <a href="#" data-bs-toggle="tooltip" data-bs-title="The last tip!"
          >your own</a
        >
        site or project.
      </p>

      <button type="button" class="btn btn-secondary"
        data-bs-toggle="tooltip" data-bs-placement="top"
        data-bs-custom-class="custom-tooltip"
        data-bs-title="This top tooltip is themed via CSS variables.">
  Custom tooltip
</button>
    </section>
  </body>
</html>
